<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/exercices.css" th:href="@{/exercices.css}"/>
    <script type="text/javascript" th:src="@{/exercices.js}"></script>

<title>List of Exercices</title>

</head>
<body >

<div class="header">
    <h1 class="headerTitle">
    </h1>
<div class="nav">
       <ul>
           <li>  <a  href="registration">Create account</a></li>
  <li> <a  href="login" >Log In</a></li>
       </ul>
</nav>

</div>
</div>







</body>
</html>
